.card {
    border-radius: 10px;
    background-size: cover;
    cursor: pointer;
}

.wrapper {
    border-radius: 10px;
    transition: all 0.5s;
}

.card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: 125%;
}

.artContainer {
    opacity: 1;
    transition: all 0.5s;
}

.shinyContainer {
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
}

.titleContainer {
    text-shadow: 0px 2px 2px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}

.card:hover .artContainer {
    opacity: 0.4;
    filter: blur(4px);
    mix-blend-mode: multiply;
}

.card:hover .shinyContainer {
    opacity: 1;
    transform: translate3d(0%, -20%, 100px) scale(1.2);
}

.card:hover .titleContainer {
    transform: translate3d(0%, -30%, 100px) scale(1.2);
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(15deg) translateZ(0);
}

.favourite {
    transition: all 0.5s;
}

.card:hover .favourite {
    transform: perspective(900px) translateY(-25%) rotateX(15deg) translateZ(0);
}

.cardOverlay {
    position: absolute;
    border-radius: 10px;
    inset: 0;
    opacity: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        transparent 20%,
        rgba(12, 13, 19, 0.5) 48%,
        rgba(12, 13, 19) 97%
    );
    z-index: 1;
}

.card:hover .cardOverlay {
    opacity: 0.9;
}
