.card {
    border-radius: 10px;
    background-size: cover;
    cursor: pointer;
}

.wrapper {
    border-radius: 10px;
    transition: all 0.5s;
}

.card:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: 125%;
}

.blur {
    backdrop-filter: blur(5px);
    position: absolute;
    inset: 6px;
    border-radius: 8px;
}

.artContainer {
    opacity: 1;
    transition: all 0.5s;
}

.shinyContainer {
    opacity: 0;
    transition: all 0.5s;
    pointer-events: none;
}

.titleContainer {
    text-shadow: 0px 2px 2px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
    transition: all 0.5s;
}

.card:hover .artContainer {
    opacity: 0.3;
    filter: blur(4px);
    mix-blend-mode: multiply;
}

.card:hover .shinyContainer {
    opacity: 1;
    transform: translate3d(0%, -20%, 100px) scale(1.2);
}

.card:hover .titleContainer {
    transform: translate3d(0%, -30%, 100px) scale(1.2);
}

.card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(15deg) translateZ(0);
}

.cardOverlay {
    position: absolute;
    border-radius: 10px;
    inset: 0;
    opacity: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
        to bottom,
        transparent 20%,
        rgba(12, 13, 19, 0.5) 48%,
        rgba(12, 13, 19) 97%
    );
    z-index: 1;
}

.card:hover .cardOverlay {
    opacity: 0.9;
}


/** CARDS COLORS **/
.grass {
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}
.grass .blur {
    background: rgba(38, 108, 54, 0.6);
}

.psychic {
    background-image: linear-gradient(to top, #7028e4 0%, #e5b2ca 100%);
}
.psychic .blur {
    background: rgba(80, 3, 70, 0.6);
}

.normal {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.normal .blur {
    background: rgba(68, 68, 68, 0.6);
}

.fire {
    background-image: linear-gradient(to top, #f83600 0%, #f9d423 100%);
}
.fire .blur {
    background: rgba(121, 15, 15, 0.6);
}

.water {
    background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
}
.water .blur {
    background: rgba(15, 98, 121, 0.6);
}

.electric {
    background-image: linear-gradient(-225deg, #FF057C 0%, #7C64D5 48%, #4CC3FF 100%);
}
.electric .blur {
    background: rgba(96, 30, 143, 0.6);
}

.dark {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
.dark .blur {
    background: rgba(0, 0, 0, 0.6);
}

.dragon {
    background: linear-gradient(to top, #93291e, #ed213a);
}
.dragon .blur {
    background: rgba(106, 8, 8, 0.6);
}

.fairy {
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
}
.fairy .blur {
    background: rgba(102, 8, 106, 0.6);
}

.steel {
    background: linear-gradient(to top, #2c3e50, #bdc3c7);
}
.steel .blur {
    background: rgba(93, 93, 93, 0.6);
}

.bug {
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
} 
.bug .blur {
    background: rgba(133, 130, 104, 0.6);
}

.poison {
    background: linear-gradient(to top, #001510, #00bf8f);
} 
.poison .blur {
    background: rgba(7, 100, 74, 0.6);
}

.ground {
    background: linear-gradient(to top, #d1913c, #ffd194);
} 
.ground .blur {
    background: rgba(133, 113, 52, 0.6);
}

.flying {
    background: linear-gradient(to top, #2980b9, #6dd5fa, #ffffff);
} 
.flying .blur {
    background: rgba(52, 126, 133, 0.6);
}

.ice {
    background-image: linear-gradient(to top, #D7FFFE, #FFFEFF);
}
.ice .blur {
    background: rgba(128, 197, 204, 0.6);
}

.ghost {
    background-image: linear-gradient(to top, #E3FDF5, #FFE6FA);
}
.ghost .blur {
    background: rgba(168, 221, 221, 0.6);
}

.fighting {
    background-image: linear-gradient(to top, #FFE29F, #FFA99F, #FF719A);
}
.fighting .blur {
    background: rgba(136, 59, 59, 0.6);
}

.rock {
    background-image: linear-gradient(to top, #616161, #9bc5c3);
}
.rock .blur {
    background: rgba(168, 221, 221, 0.6);
}

.skeleton {
    background-image: linear-gradient(60deg, #040404 0%, #242527 100%);
}
.skeleton .blur {
    background: rgba(0, 0, 0, 0.6);
}
